.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin: 50px auto;
}

.output {
    border: 1px solid #ccc;
    padding: 10px;
    flex: 1;
    font-family: "handshape2002";
    font-size: 1.5cm;
}